# Global
.*
!.gitignore

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

# Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Binaries
bin/
obj/
*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

local/

